<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask app for Code-a-thon</title>
</head>

<body>
  <header>
    <h1>Catalog items</h1>
    <table>
      <thead>
        <tr>
          <th>ItemID</th>
          <th>Description</th>
          <th>on Order</th>
          <th>in Stock</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for item in catalog %}
        <tr>
          <td>{{ item.ca_item_ref }}</td>
          <td>
            <img src="http://192.86.32.12:1880/product/image/{{ item.ca_item_ref }}" style="width:25px;height:30px;">
          </td>
          <td>
            <a href="/detailedInfo?itemID={{ item.ca_item_ref }}">{{ item.ca_description }}</a>
          </td>
          <td>{{ item.on_order }}</td>
          <td>{{ item.in_stock }}</td>
          <td>{{ item.ca_cost }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </header>
  <div class="IoTDiv">
    <h2>Info on IoT device</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Temperature</th>
          <th>Humidity</th>
          <th>CO2</th>
          <th>Leader Name</th>
          <th>Dev</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ iotData.temperature }}</td>
          <td>{{ iotData.humidity }}</td>
          <td>{{ iotData.co2 }}</td>
          <td>{{ iotData.leader }}</td>
          <td>{{ iotData.dev }}</td>
          <td>{{ iotData.timestamp }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>